# Azure DevOps Task: AzurePowerShell@5
#
# Purpose:
#   Runs a PowerShell script in an Azure environment using AzurePowerShell@5.
#
# Parameters:
#   - TaskEnvironmentVariables (object, optional): Environment variables to be passed to the task.
#   - AzureSubscription (string, required): Azure service connection for authentication.
#   - ScriptType (string, optional): 'FilePath' or 'InlineScript'. Default: 'FilePath'.
#   - ScriptPath (string, optional): Path to the PowerShell script (when ScriptType is 'FilePath').
#   - Inline (string, optional): Inline PowerShell script (when ScriptType is 'InlineScript').
#   - ScriptArguments (string, optional): Arguments for the script.
#   - ErrorActionPreference (string, optional): Error action preference. Default: 'stop'.
#   - FailOnStandardError (boolean, optional): Fail on standard error. Default: false.
#   - AzurePowerShellVersion (string, optional): 'LatestVersion' or 'OtherVersion'. Default: 'OtherVersion'.
#   - PreferredAzurePowerShellVersion (string, optional): Preferred version (required if azurePowerShellVersion is 'OtherVersion').
#   - UsePowerShellCoreOnWindows (boolean, optional): Use PowerShell Core on Windows, no effect on Linux machines. Default: false.
#   - ValidateScriptSignature (boolean, optional): Validate script signature. Default: false.
#   - WorkingDirectory (string, optional): Working directory.
#
# Example Usage:
#   - template: tasks/azure_powershell.yml
#     parameters:
#       azureSubscription: 'MyAzureConnection'
#       ScriptType: 'FilePath'
#       ScriptPath: 'scripts/deploy.ps1'
#       ScriptArguments: '-param value'
#       PreferredAzurePowerShellVersion: '7.2.0'
#
# Notes:
#   - See https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/azure-powershell-v5

parameters:
  - name: TaskEnvironmentVariables
    type: object
    displayName: 'Environment variables to be passed to the task'
    default: { }

  - name: AzureSubscription
    type: string
    displayName: 'Azure service connection for authentication'
    default: ''

  - name: ScriptType
    type: string
    displayName: 'Script type: FilePath or InlineScript'
    default: 'FilePath'
    values:
      - FilePath
      - InlineScript

  - name: ScriptPath
    type: string
    displayName: 'Path to PowerShell script (when ScriptType is FilePath)'
    default: ''

  - name: Inline
    type: string
    displayName: 'Inline PowerShell script (when ScriptType is InlineScript)'
    default: ''

  - name: ScriptArguments
    type: string
    displayName: 'Arguments for the script'
    default: ''

  - name: ErrorActionPreference
    type: string
    displayName: 'Error action preference'
    default: 'stop'
    values:
      - stop
      - continue
      - silentlyContinue

  - name: FailOnStandardError
    type: boolean
    displayName: 'Fail on standard error'
    default: false

  - name: AzurePowerShellVersion
    type: string
    displayName: 'Azure PowerShell version'
    default: 'LatestVersion'
    values:
      - LatestVersion
      - OtherVersion

  - name: PreferredAzurePowerShellVersion
    type: string
    displayName: 'Preferred Azure PowerShell version (required if azurePowerShellVersion is OtherVersion)'
    default: ''

  - name: UsePowerShellCore
    type: boolean
    displayName: 'Use PowerShell Core on Windows, no effect on Linux machines. If false, use "Windows PowerShell" on Windows'
    default: true

  - name: ValidateScriptSignature
    type: boolean
    displayName: 'Validate script signature'
    default: false

  - name: WorkingDirectory
    type: string
    displayName: 'Working directory'
    default: ''

steps:
  - task: AzurePowerShell@5
    displayName: 'Azure PowerShell'
    env: ${{ parameters.TaskEnvironmentVariables }}
    inputs:
      azureSubscription: ${{ parameters.AzureSubscription }}
      ScriptType: ${{ parameters.ScriptType }}
      ${{ if eq(parameters.ScriptType, 'FilePath') }}:
        ScriptPath: ${{ parameters.ScriptPath }}
        ${{ if ne(parameters.ScriptArguments, '') }}:
          ScriptArguments: ${{ parameters.ScriptArguments }}
        ${{ if parameters.ValidateScriptSignature }}:
          validateScriptSignature: ${{ parameters.ValidateScriptSignature }}
      ${{ if eq(parameters.ScriptType, 'InlineScript') }}:
        Inline: ${{ parameters.Inline }}
      errorActionPreference: ${{ parameters.ErrorActionPreference }}
      FailOnStandardError: ${{ parameters.FailOnStandardError }}
      azurePowerShellVersion: ${{ parameters.AzurePowerShellVersion }}
      ${{ if and(eq(parameters.azurePowerShellVersion, 'OtherVersion'), ne(parameters.PreferredAzurePowerShellVersion, '')) }}:
        preferredAzurePowerShellVersion: ${{ parameters.PreferredAzurePowerShellVersion }}
      pwsh: ${{ parameters.UsePowerShellCore }}
      ${{ if ne(parameters.WorkingDirectory, '') }}:
        workingDirectory: ${{ parameters.WorkingDirectory }}
