# Azure DevOps Task: TerraformInstaller@1 (Microsoft DevLabs Custom Terraform Tasks)
#
# 'TerraformVersion' Examples:
# - Install latest stable version: 'latest'
# - Specific version: '1.11.3', '1.10.5'
# - Semantic version: '1.11.x' (latest patch in 1.11)
# - Version range: '>=1.10.0' (1.10.0 or higher)

parameters:
  - name: TerraformVersion
    type: string
    displayName: 'Terraform CLI version to install'
    default: 'latest'

steps:
  - task: TerraformInstaller@1
    displayName: 'Install Terraform CLI: ${{ parameters.TerraformVersion }}'
    name: TerraformInstall
    inputs:
      terraformVersion: ${{ parameters.TerraformVersion }}
